*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
body{
	font-family: 'Roboto', sans-serif;
}
.container{
	width: 1140px;
	margin: 0 auto;
	position: relative;
}
.navbar > .container{
	width: 1340px; 	
	display: flex;
	justify-content: space-between;
	padding: 30px;
	align-items: center;
}
.navbar-logo{
	font-size: 30px;
	font-weight: 800;
	color: rgba(0,0,0,0.5);
}
.logo-d{
	color: red;
}
.navbar-list{
	display: flex;
}
.navbar-item{
	padding: 15px;
}
.navbar-link{
	color: #000;
	transition: color .3s;
}
.navbar-link:hover{
	color: red;
}
.join{
	background-color: rgba(116, 202, 231);
	padding: 10px;
	border: 1px solid rgba(116, 202, 231);
	border-radius: 5px;
	box-shadow: 0px 0px  10px rgba(0,0,0,0.4);
	transition: color .3s;
}
.join:hover{
	color: red;
}
.heading{
	position: relative;
	margin-bottom: 100px;
}
.heading .container{
	display: flex;
	align-items: center;
}
.heading__text{
	width: 40%;
	transform: translateY(-50px);
}
.heading__title{
	font-size: 100px;
	line-height: 1.5;
}
.heading__span{
	color: red;
}
.heading__subtext{
	line-height: 2;
	color: rgba(0,0,0,0.4);
	/*margin-bottom: 35px;*/
	margin-bottom: 30px;
}
.heading__link{
	padding: 10px;
	border: 1px solid blue;
	background-color: blue;
	color: white;

}
.heading__photo{
	width: 100%;
	transform: translateX(100px);
}
.circle{
	position: absolute;
	top: 17%;
	left: 32%;
	width: 80px;
	height: 80px;
}
.orange{
	position: absolute;
	bottom: 30%;
	left: 28%;
}
.light{
	position: absolute;
	top: 22%;
	left: 2%;
	z-index: -1;
}
.full-stops{
	position: absolute;
	top: 10%;
	right: 36%;
	z-index: -1;
}
.get{
	background-color: rgba(116, 202, 231);
	padding: 10px;
	border: 1px solid rgba(116, 202, 231);
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	transition: color .3s;
}
.get:hover{
	color: red
}
.benefits-heading{
	width: 50%;
	margin: 0 auto;
}
.benefits-title{
	font-size: 42px;
	text-align: center;
	margin-bottom: 30px;
	line-height: 1.5; 
	transform: translateX(10px);
}
.benefits-text{
	text-align: center;
	line-height: 2;
	color: gray;
	width: 120%;
	transform: translateX(-40px);
}
.main{
	position: relative;
	margin-bottom: 20px;
}
.main-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.main-item{
	width: 300px;
	height: 280px;
	margin: 20px;
	border-top-right-radius: 30%; 
	border: 1px solid rgba(0,0,0,0.1);
	padding: 20px;
	background-color: white;
}
.main-item:hover{
	box-shadow: 0px 0px 5px rgba(204, 196, 196);
	/*transform: translate(10px);*/
}
.main-image{
	width: 60px;
	height: 60px;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.main-item-title{
	margin-bottom: 10px;
}
.main-item-text{
	font-size: 10px;
	line-height: 2;
	margin-bottom: 10px;
}
.icon{
	position: absolute;
	top: 0%;
	left: 4%;
	z-index: -1;
	width: 60px;
	height: 60px;
}
.button{
	border: none;
	padding: 10px;
}
.icon-svg{
	background-color: white;
}
.nuqtalar{
	position: absolute;
	bottom: 1%;
	left: 2%;
	z-index: -1;
}
.half{
	position: absolute;
	right: 1%;
	bottom: 0%;
	z-index: -1;
}